.food-card-container {
  margin: 0.6rem;
  background: #f6f6f6;
  box-shadow: inset -2px 2px 4px rgba(220, 220, 220, 0.2),
    inset 2px -2px 4px rgba(220, 220, 220, 0.2),
    inset -2px -2px 4px rgba(255, 255, 255, 0.9),
    inset 2px 2px 5px rgba(220, 220, 220, 0.9);
  border-radius: 10px;
}
